*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --color-primary-blue: hsl(216, 64%, 37%);
  --color-primary-blue-rgba: rgba(34, 82, 155, 0.9);
  --color-primary-blue-hover: hsl(216, 64%, 60%);
  --color-primary-blue-hover-dark: hsl(216, 64%, 27%);
  --color-primary-blue-bg: hsl(216, 64%, 95%);
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #01426a;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular-large: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --logo-size: 36px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-navbar-height: 70px;
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration-short: 300ms;
  --animation-duration-long: 500ms;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-primary-white);
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  cursor: default;
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

span {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
}

/* Navbar */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--size-navbar-height);
  font-size: var(--font-regular-large);
  padding: 0 16px;
  color: var(--color-white);
  z-index: 1;
  transition: all var(--animation-duration-short) ease-in-out;
}

#navbar.active {
  background-color: var(--color-primary-blue);
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__logo {
  font-size: var(--logo-size);
}

.navbar__right {
  display: flex;
  gap: 16px;
}

.navbar__menu-item {
  padding: 8px 0;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}

.navbar__menu-item:hover {
  background-color: var(--color-primary-blue-hover-dark);
  border-color: var(--color-white);
}

.navbar__toggle-btn {
  display: none;
  position: absolute;
  right: 24px;
  color: var(--color-white);
  font-size: var(--font-medium);
}

/* Home */
#home {
  position: relative;
  background: center/cover no-repeat url('/images/home-background.png');
  padding: 120px 40px 200px 40px;
  text-align: center;
  transition: opacity var(--animation-duration-long) ease-in;
}

.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__desc {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 12px 12px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration-short) ease;
}

.home__contact:hover {
  transform: scale(1.1);
  background-color: var(--color-primary-blue-hover);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 240px;
  height: 240px;
  font-size: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 2px solid var(--color-primary-blue);
  color: var(--color-blue);
}

.major__icon i {
  transition: all var(--animation-duration-short) ease;
}

.major__icon:hover i {
  color: var(--color-primary-blue-hover);
  transform: rotate(-15deg) scale(1.1);
}

.major__title,
.major__desc {
  color: var(--color-dark-grey);
}

.college {
  display: flex;
  align-items: center;
  justify-content: center;
}

.college__image {
  object-fit: contain;
  height: 140px;
}

.college__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.college__desc-degree,
.college__desc-name {
  font-weight: var(--weight-bold);
}

.college__desc-name {
  color: var(--color-dark-blue);
}

.college__period {
  font-size: 60px;
}

/* Skill */
#skills {
  background-color: var(--color-primary-blue-bg);
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset-left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__desc {
  display: flex;
  justify-content: space-between;
}

.skillset-right {
  flex-basis: 40%;
  background-color: var(--color-light-grey);
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background: #2aacef;
  background: -webkit-linear-gradient(top left, #2aacef, #e38bab);
  background: -moz-linear-gradient(top left, #2aacef, #e38bab);
  background: linear-gradient(to bottom right, #2aacef, #e38bab);
  /* background: #12ee08;
  background: -webkit-linear-gradient(top left, #12ee08, #da1976);
  background: -moz-linear-gradient(top left, #12ee08, #da1976);
  background: linear-gradient(to bottom right, #12ee08, #da1976); */
}

.tools {
  padding: 20px;
}

/* Work */

.work__categories {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-primary-blue-hover);
  color: var(--color-white);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration-short) ease-out;
}
.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.95) translateY(40px);
}

.project {
  position: relative;
  width: 350px;
  height: auto;
  margin: 2px;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__image {
  max-width: 100%;
  max-height: 100%;
}

.project__desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0 4px;
  transform: translateY(50%);
  transition: all var(--animation-duration-long) ease;
}

.project:hover .project__desc {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__desc h3 {
  color: var(--color-white);
}
.project__desc h3::after {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  margin-top: 8px;
}

/* Contact */
#contact {
  background-color: var(--color-primary-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin-bottom: 30px;
}

.contact__links {
  font-size: var(--font-large);
  color: var(--color-white);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration-short) ease;
}

.contact__links i:hover {
  transform: scale(1.1);
}

/* Up Arrow */
.up__arrow {
  position: fixed;
  bottom: -100px;
  right: 25px;
  width: 70px;
  height: 70px;
  font-size: var(--font-large);
  color: var(--color-white);
  background-color: var(--color-primary-blue-hover);
  border-radius: 50%;
  transition: all var(--animation-duration-long) ease-in;
}

.up__arrow.active {
  bottom: 25px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-medium);
  }

  h2 {
    font-size: var(--font-regular);
  }

  h3 {
    font-size: var(--font-small);
  }

  p {
    font-size: var(--font-small);
  }

  span {
    font-size: var(--font-small);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .navbar__right {
    display: none;
    position: fixed;
    top: var(--size-navbar-height);
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-primary-blue);
    text-align: center;
  }

  .navbar__menu-item {
    padding: 24px 0;
  }

  .section {
    padding: 25px;
  }

  #home {
    padding-left: 0;
    padding-right: 0;
  }

  .about__majors {
    flex-direction: column;
    margin: 40px 0;
  }

  .major {
    margin-top: 38px;
  }

  .college {
    flex-direction: column;
  }

  .college__desc {
    align-items: center;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .work__categories {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 20px;
  }

  .up__arrow {
    width: 50px;
    height: 50px;
    right: 5px;
    font-size: var(--font-small);
  }

  .up__arrow.active {
    bottom: 5px;
  }
}
